<h1>Listing finding_haptics</h1>

<table>
  <tr>
    <th>Finding</th>
    <th>Haptic fidelity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finding_haptics.each do |finding_haptic| %>
  <tr>
    <td><%= finding_haptic.finding %></td>
    <td><%= finding_haptic.haptic_fidelity %></td>
    <td><%= link_to 'Show', finding_haptic %></td>
    <td><%= link_to 'Edit', edit_finding_haptic_path(finding_haptic) %></td>
    <td><%= link_to 'Destroy', finding_haptic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finding haptic', new_finding_haptic_path %>
