<p id="notice"><%= notice %></p>

<p>
  <b>Realism:</b>
  <%= @task_realism.realism %>
</p>

<p>
  <b>Task:</b>
  <%= @task_realism.task %>
</p>


<%= link_to 'Edit', edit_task_realism_path(@task_realism) %> |
<%= link_to 'Back', task_realisms_path %>
