<p id="notice"><%= notice %></p>

<p>
  <b>Finding:</b>
  <%= @finding_indy_variable.finding %>
</p>

<p>
  <b>Indy variable:</b>
  <%= @finding_indy_variable.indy_variable %>
</p>


<%= link_to 'Edit', edit_finding_indy_variable_path(@finding_indy_variable) %> |
<%= link_to 'Back', finding_indy_variables_path %>
