<%= form_for(@finding_biomechanical) do |f| %>
  <% if @finding_biomechanical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finding_biomechanical.errors.count, "error") %> prohibited this finding_biomechanical from being saved:</h2>

      <ul>
      <% @finding_biomechanical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :finding %><br />
    <%= f.text_field :finding %>
  </div>
  <div class="field">
    <%= f.label :biomechanical_symmetry %><br />
    <%= f.text_field :biomechanical_symmetry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
