<h1>Listing dimensions</h1>

<table>
  <tr>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dimensions.each do |dimension| %>
  <tr>
    <td><%= dimension.level %></td>
    <td><%= link_to 'Show', dimension %></td>
    <td><%= link_to 'Edit', edit_dimension_path(dimension) %></td>
    <td><%= link_to 'Destroy', dimension, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dimension', new_dimension_path %>
