<h1>Listing experiment_genders</h1>

<table>
  <tr>
    <th>Gender</th>
    <th>Experiment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiment_genders.each do |experiment_gender| %>
  <tr>
    <td><%= experiment_gender.gender %></td>
    <td><%= experiment_gender.experiment %></td>
    <td><%= link_to 'Show', experiment_gender %></td>
    <td><%= link_to 'Edit', edit_experiment_gender_path(experiment_gender) %></td>
    <td><%= link_to 'Destroy', experiment_gender, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experiment gender', new_experiment_gender_path %>
