<p id="notice"><%= notice %></p>

<p>
  <b>Gender:</b>
  <%= @experiment_gender.gender %>
</p>

<p>
  <b>Experiment:</b>
  <%= @experiment_gender.experiment %>
</p>


<%= link_to 'Edit', edit_experiment_gender_path(@experiment_gender) %> |
<%= link_to 'Back', experiment_genders_path %>
