<%= form_for(@visual_fidelity) do |f| %>
  <% if @visual_fidelity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visual_fidelity.errors.count, "error") %> prohibited this visual_fidelity from being saved:</h2>

      <ul>
      <% @visual_fidelity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :component %><br />
    <%= f.text_field :component %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
