<h1>Listing findings</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Metric</th>
    <th>Category</th>
    <th>Title</th>
    <th>Summary</th>
    <th>Issue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @findings.each do |finding| %>
  <tr>
    <td><%= finding.task %></td>
    <td><%= finding.metric %></td>
    <td><%= finding.category %></td>
    <td><%= finding.title %></td>
    <td><%= finding.summary %></td>
    <td><%= finding.issue %></td>
    <td><%= link_to 'Show', finding %></td>
    <td><%= link_to 'Edit', edit_finding_path(finding) %></td>
    <td><%= link_to 'Destroy', finding, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finding', new_finding_path %>
