<%= form_for(@finding_aural) do |f| %>
  <% if @finding_aural.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finding_aural.errors.count, "error") %> prohibited this finding_aural from being saved:</h2>

      <ul>
      <% @finding_aural.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :finding %><br />
    <%= f.text_field :finding %>
  </div>
  <div class="field">
    <%= f.label :aural_fidelity %><br />
    <%= f.text_field :aural_fidelity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
