<h1>Listing displays</h1>

<table>
  <tr>
    <th>Display</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @displays.each do |display| %>
  <tr>
    <td><%= display.display %></td>
    <td><%= link_to 'Show', display %></td>
    <td><%= link_to 'Edit', edit_display_path(display) %></td>
    <td><%= link_to 'Destroy', display, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Display', new_display_path %>
