<h1>Listing task_densities</h1>

<table>
  <tr>
    <th>Density</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_densities.each do |task_density| %>
  <tr>
    <td><%= task_density.density %></td>
    <td><%= task_density.task %></td>
    <td><%= link_to 'Show', task_density %></td>
    <td><%= link_to 'Edit', edit_task_density_path(task_density) %></td>
    <td><%= link_to 'Destroy', task_density, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task density', new_task_density_path %>
