<p id="notice"><%= notice %></p>

<p>
  <b>Density:</b>
  <%= @task_density.density %>
</p>

<p>
  <b>Task:</b>
  <%= @task_density.task %>
</p>


<%= link_to 'Edit', edit_task_density_path(@task_density) %> |
<%= link_to 'Back', task_densities_path %>
