<h1>Listing finding_components</h1>

<table>
  <tr>
    <th>Finding</th>
    <th>Component</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finding_components.each do |finding_component| %>
  <tr>
    <td><%= finding_component.finding %></td>
    <td><%= finding_component.component %></td>
    <td><%= link_to 'Show', finding_component %></td>
    <td><%= link_to 'Edit', edit_finding_component_path(finding_component) %></td>
    <td><%= link_to 'Destroy', finding_component, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finding component', new_finding_component_path %>
