<h1>Listing author_papers</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Paper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @author_papers.each do |author_paper| %>
  <tr>
    <td><%= author_paper.author %></td>
    <td><%= author_paper.paper %></td>
    <td><%= link_to 'Show', author_paper %></td>
    <td><%= link_to 'Edit', edit_author_paper_path(author_paper) %></td>
    <td><%= link_to 'Destroy', author_paper, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author paper', new_author_paper_path %>
