<h1>Listing finding_specificities</h1>

<table>
  <tr>
    <th>Specificity</th>
    <th>Finding</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finding_specificities.each do |finding_specificity| %>
  <tr>
    <td><%= finding_specificity.specificity %></td>
    <td><%= finding_specificity.finding %></td>
    <td><%= link_to 'Show', finding_specificity %></td>
    <td><%= link_to 'Edit', edit_finding_specificity_path(finding_specificity) %></td>
    <td><%= link_to 'Destroy', finding_specificity, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finding specificity', new_finding_specificity_path %>
