<h1>Listing haptic_fidelities</h1>

<table>
  <tr>
    <th>Component</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @haptic_fidelities.each do |haptic_fidelity| %>
  <tr>
    <td><%= haptic_fidelity.component %></td>
    <td><%= link_to 'Show', haptic_fidelity %></td>
    <td><%= link_to 'Edit', edit_haptic_fidelity_path(haptic_fidelity) %></td>
    <td><%= link_to 'Destroy', haptic_fidelity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Haptic fidelity', new_haptic_fidelity_path %>
