<h1>Listing task_dimensions</h1>

<table>
  <tr>
    <th>Dimension</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_dimensions.each do |task_dimension| %>
  <tr>
    <td><%= task_dimension.dimension %></td>
    <td><%= task_dimension.task %></td>
    <td><%= link_to 'Show', task_dimension %></td>
    <td><%= link_to 'Edit', edit_task_dimension_path(task_dimension) %></td>
    <td><%= link_to 'Destroy', task_dimension, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task dimension', new_task_dimension_path %>
