<p id="notice"><%= notice %></p>

<p>
  <b>Dimension:</b>
  <%= @task_dimension.dimension %>
</p>

<p>
  <b>Task:</b>
  <%= @task_dimension.task %>
</p>


<%= link_to 'Edit', edit_task_dimension_path(@task_dimension) %> |
<%= link_to 'Back', task_dimensions_path %>
