<div class="author">
  <div class="field span5">
    <%= f.label :last_name, 'Last/Family Name', :'data-attribute' => 'last_name'%>
    <%= f.text_field :last_name, :class => 'span12 readonly', :title => 'Please provide last name of the author', :'ref' => 'tooltip', :'data-placement' => 'bottom', :'data-attribute' => 'last_name' %>
  </div>
  <div class="field span5">
    <%= f.label :first_name, 'First/Given Name', :'data-attribute' => 'first_name'%>
    <%= f.text_field :first_name, :class => 'span12 readonly', :title => 'Please provide first name of the author', :'ref' => 'tooltip', :'data-placement' => 'bottom', :'data-attribute' => 'first_name' %>
  </div>
  <div class="field span1">
    <%= f.label :middle_initial, 'M.I.', :'data-attribute' => 'middle_initial' %>
    <%= f.text_field :middle_initial, :class => 'span12 readonly', :title => 'Please provide middle initial of the author', :'ref' => 'tooltip', :'data-placement' => 'bottom', :'data-attribute' => 'middle_initial' %>
  </div>
</div>
