<div class="author">
  <div class="inline-group">
    <div class="field">
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name, :class => 'input-large' %>
    </div>
    <div class="field">
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name, :class => 'input-large' %>
    </div>
    <div class="field">
      <%= f.label :first_name, 'M.I.' %>
      <%= f.text_field :middle_initial, :class => 'input-small' %>
    </div>
    <div class="field">
      <%= link_to_remove_fields "x", f %>
      <button type="button" onclick="remove_author_fields(this); return false;" class="close">×</button>
    </div>
  </div>
  
</div>