<div id="experiment_new_experiments" class="experiment core-element" data-experiment="new_experiments">

  <h1>Experiment Information</h1>

  <p><small>This section is for adding the details of the experiments described in the publication. All experiments are classified as either <strong>INDEPENDENT COMPONENT STUDIES</strong> or <strong>HOLISTIC COMPARISONS</strong>. <strong>INDEPENDENT COMPONENT STUDIES</strong> are experiments varying one or more components of fidelity independently (e.g., the experiment varies only field of view, and holds all other aspects of the system constant). <strong>HOLISTIC COMPARISONS</strong> are experiments varying multiple components of immersion simultaneously, so that the effects of individual components cannot be determined directly (e.g., the experiment compares a head-mounted display to a CAVE)</small></p>


  <legend class="with-helper-text">General Information</legend>
  <!-- <p class="after-legend"><small>Create a title / nickname for the experiment so that it can be referred back to easily in the entry progress list. Also provide the research questions and goals that motivate the experiment.</small></p> -->
  </br>
  <div class="field field-title exp-field">
    <%= f.label :title, 'Experiment Title', :'data-attribute' => 'title' %>
    <%= f.text_field :title, :class => 'span12', :'data-attribute' => 'title', :title => 'Provide a title for the experiment (e.g., effects of fidelity on spatial judgment tasks)', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
  </div>
  <div class="field field-exp-desc exp-field">
    <%= f.label :exp_desc, 'Research Questions and Goals', :'data-attribute' => 'exp_desc' %>
    <%= f.text_area :exp_desc, :class => 'span12', :rows => 5, :'data-attribute' => 'exp_desc', :title => 'Provide the research questions and goals that motivate the experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
  </div>

  <legend class="with-helper-text">Participant Information</legend>
  <!-- <p class="after-legend"><small>This area documents total number of participants and their age range.  Also please list the technical background and other relevant information about the participants in this experiment.</small></p> -->
  </br>
  <div class="inline-group range exp-field">
    <div class="field">
      <%= f.label :part_num, 'Total Number', :'data-attribute' => 'part_num' %>
      <%= f.number_field :part_num, :class => 'input-mini', :'data-attribute' => 'part_num' %>
    </div>
    <div class="field before-hyphen exp-field">
      <%= f.label :part_age_min, 'Min Age', :'data-attribute' => 'part_age_min' %>
      <%= f.number_field :part_age_min, :class => 'input-mini', :'data-attribute' => 'part_age_min' %>
    </div>
    <div class="field hyphen">
      -
    </div>
    <div class="field after-hyphen exp-field">
      <%= f.label :part_age_max, 'Max Age', :'data-attribute' => 'part_age_max' %>
      <%= f.number_field :part_age_max, :class => 'input-mini', :'data-attribute' => 'part_age_max' %>
    </div>
  </div>

  <div class="field">
    <%= f.label nil, 'Gender Balance' %>
    <% Gender.all.each do |gender| %>

      <div class="radio inline pill gender">
        <%= f.radio_button :gender_id, gender.id, :'data-attribute' => 'gender_id' %>
        <%= f.label :gender_id, gender.gender, :value => gender.id, :'data-attribute' => 'gender_id' %>
      </div>

    <% end %>
  </div>

  <div class="field field-part-background exp-field">
    <%= f.label :part_background, "Participants' Background", :'data-attribute' => 'part_backround' %>
    <%= f.text_area :part_background, :class => 'span12', :rows => 5, :'data-attribute' => 'part_background', :title => 'Provide the technical background and other relevant about the participants in this experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
  </div>

  <legend class="with-helper-text">System Information</legend>
  <!-- <p class="after-legend"><small> Additonal details of the system such as computer specs, modifications, etc. can be added in the last text area.</small></p> -->

  <div id="experiment_new_experiments_experiment_displays" class="displays well">
    <div class="field display-list display-checkboxes">
      <legend class="mini">Visual Displays</legend>
      <p class="after-legend"><small>Click on all categories of displays used in this experiment and then provide technical specifications of these displays in their respective text fields.</small></p>
      <% Display.all.each do |display| %>
        <div class="checkbox inline pill">
          <%= check_box_tag nil, display.id, f.object.displays.include?(display), :id => "experiments_attributes_new_experiments_display_id_#{display.id}" , :onchange => "create_component_description(this, '#{display.display}', #{display.id}, 'experiment_display', 'display', 'description')", :'data-experiment' => 'new_experiments', :'data-attribute' => 'display_id' %>
          <%= label_tag nil, display.display, :for => "experiments_attributes_new_experiments_display_id_#{display.id}", :'data-attribute' => 'display_id', :title => display.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
        </div>

      <% end %>
      <div class="checkbox inline pill other">
        <input data-attribute="display_id" data-experiment="new_experiments" id="experiments_attributes_new_experiments_display_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'experiment_display', 'display', 'description');create_other(this, 'Other', 'other_0', 'experiment_display', 'display', 'display', 'description', '<%= form_authenticity_token %>')" type="checkbox" value="other">
        <label data-attribute="display_id" for="experiments_attributes_new_experiments_display_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
      </div>

    </div>
    <div id="experiment_new_experiments_experiment_display" class="experiment_display-desc display-desc row-fluid" data-attribute="display">
      <% if !@paper.new_record? %>  
        <%= f.fields_for :experiment_displays do |experiment_display| %>
          <div data-id="" id="experiment_new_experiments_display_<%= experiment_display.object.display_id %>" class="display">
            <div class="field">
              <%= experiment_display.hidden_field :display_id, :'data-attribute' => "display_id" %>
              <%= experiment_display.label :desc, "#{experiment_display.object.display.display} description", :'data-attribute' => "desc" %>
              <%= experiment_display.text_field :desc, :class => "span12", :'data-attribute' => "desc" %>
              <%= link_to_remove_fields "x", experiment_display %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="experiment_new_experiments_experiment_hardwares" class="hardwares well">
    <% if @paper.new_record? %>  
      <%= add_fields f, :experiment_hardwares %>
    <% else %>
      <%= f.fields_for :experiment_hardwares do |builder| %>
        <%= render 'experiment_hardware_fields', :f =>builder %>
      <% end %>
    <% end %>

    <div class="hardware-generator">
      <%= link_to_add_fields "Add Another Input Device Including Tracking", f, :experiment_hardwares, 'btn btn-primary', 'before' %>
    </div>
  </div>

  <div id="experiment_new_experiments_experiment_softwares" class="field token-input exp-field">
    <%= f.label :software_tokens, "VR Software Used", :'data-attribute' => 'software_tokens' %>
    <%= f.text_field :software_tokens, "data-pre" => f.object.softwares.to_json, "data-type" => "software", :class => 'span12', :'data-attribute' => 'software_tokens', :title => 'Describe all software libraries or packages used in this experiment', :'ref' => 'tooltip', :'data-placement' => 'top' %>
  </div>

  <div class="field field-system-desc exp-field">
    <%= f.label :system_desc, 'Other Hardware / Software', :'data-attribute' => 'system_desc' %>
    <%= f.text_area :system_desc, :class => 'span12', :rows => 5, :'data-attribute' => 'system_desc' %>
  </div>

  <legend class="with-helper-text">Components of Fidelity</legend>
  <p class="after-legend"><small>Use the buttons below to select all the components of fidelity varied in this experiment, then provide details on the different levels in their respective text fields.</small></p>

  <div class="accordion" id="accordion_new_experiments">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_new_experiments" href="#collapse_new_experiment_0">
          <i class="icon-chevron-right" style="display: none;"></i><i class="icon-chevron-down"></i> Display Fidelity
        </a>
      </div>
      <div id="collapse_new_experiment_0" class="accordion-body in collapse">
        <div class="fidelity accordion-inner">
          <div class="fidelity-list span12 visual_fidelity-checkboxes">
            <legend>Visual Fidelity</legend>
            <% VisualFidelity.find(:all, :order => "component ASC").each do |component| %>
              <div class="checkbox inline pill">
                <%= check_box_tag nil, component.id, f.object.visual_fidelities.include?(component), :id => "experiments_attributes_new_experiments_visual_id_#{component.id}" , :onchange => "create_component_description(this, '#{component.component}', #{component.id}, 'experiment_visual', 'visual_fidelity', 'levels')", :class => "fidelity-component", :'data-experiment' => 'new_experiments', :'data-attribute' => 'visual_id' %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_visual_id_#{component.id}", :'data-attribute' => 'visual_id', :title => component.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
              </div>

            <% end %>
            <div class="checkbox inline pill other">
              <input class="fidelity-component" data-attribute="visual_id" data-experiment="new_experiments" id="experiments_attributes_new_experiments_visual_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'experiment_visual', 'visual_fidelity', 'levels');create_other(this, 'Other', 'other_0', 'experiment_visual', 'visual_fidelity', 'component', 'levels', '<%= form_authenticity_token %>')" type="checkbox" value="other">
              <label data-attribute="visual_id" for="experiments_attributes_new_experiments_visual_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
            </div>

          </div>
          <div id="experiment_new_experiments_experiment_visual" class="experiment_visual-desc fidelity-desc span12" data-attribute="visual">
            <% if !@paper.new_record? %>  
              <%= f.fields_for :experiment_visuals do |experiment_visual| %>
                <div data-id="" id="experiment_new_experiments_visual_fidelity_<%= experiment_visual.object.visual_fidelity_id %>" class="visual_fidelity">
                  <div class="field">
                    <%= experiment_visual.hidden_field :visual_fidelity_id, :'data-attribute' => "visual_fidelity_id" %>
                    <%= experiment_visual.label :desc, "#{experiment_visual.object.visual_fidelity.component} levels", :'data-attribute' => "desc" %>
                    <%= experiment_visual.text_field :desc, :class => "span12", :'data-attribute' => "desc", :title => 'Enter the different levels or conditions of this component varied in this experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
                    <%= link_to_remove_fields "x", experiment_visual %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="fidelity-list span12 aural_fidelity-checkboxes">
            <legend>Auditory Fidelity</legend>
            <% AuralFidelity.find(:all, :order => "component ASC").each do |component| %>
              <div class="checkbox inline pill">
                <%= check_box_tag nil, component.id, f.object.aural_fidelities.include?(component), :id => "experiments_attributes_new_experiments_auditory_id_#{component.id}" , :onchange => "create_component_description(this, '#{component.component}', #{component.id}, 'experiment_aural', 'aural_fidelity', 'levels')", :class => "fidelity-component", :'data-experiment' => 'new_experiments', :'data-attribute' => 'auditory_id' %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_auditory_id_#{component.id}", :'data-attribute' => 'auditory_id', :title => component.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
              </div>

            <% end %>
            <div class="checkbox inline pill other">
              <input class="fidelity-component" data-attribute="aural_id" data-experiment="new_experiments" id="experiments_attributes_new_experiments_aural_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'experiment_aural', 'aural_fidelity', 'levels');create_other(this, 'Other', 'other_0', 'experiment_aural', 'aural_fidelity', 'component', 'levels', '<%= form_authenticity_token %>')" type="checkbox" value="other">
              <label data-attribute="aural_id" for="experiments_attributes_new_experiments_aural_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
            </div>

          </div>
          <div id="experiment_new_experiments_experiment_aural" class="experiment_aural-desc fidelity-desc span12" data-attribute="aural">
            <% if !@paper.new_record? %>  
              <%= f.fields_for :experiment_aurals do |experiment_aural| %>
                <div data-id="" id="experiment_new_experiments_aural_fidelity_<%= experiment_aural.object.aural_fidelity_id %>" class="aural_fidelity">
                  <div class="field">
                    <%= experiment_aural.hidden_field :aural_fidelity_id, :'data-attribute' => "aural_fidelity_id" %>
                    <%= experiment_aural.label :desc, "#{experiment_aural.object.aural_fidelity.component} levels", :'data-attribute' => "desc" %>
                    <%= experiment_aural.text_field :desc, :class => "span12", :'data-attribute' => "desc", :title => 'Enter the different levels or conditions of this component varied in this experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
                    <%= link_to_remove_fields "x", experiment_aural %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="fidelity-list span12 haptic_fidelity-checkboxes">
            <legend>Haptic Fidelity</legend>
            <% HapticFidelity.find(:all, :order => "component ASC").each do |component| %>
              <div class="checkbox inline pill">
                <%= check_box_tag nil, component.id, f.object.haptic_fidelities.include?(component), :id => "experiments_attributes_new_experiments_haptic_id_#{component.id}" , :onchange => "create_component_description(this, '#{component.component}', #{component.id}, 'experiment_haptic', 'haptic_fidelity', 'levels')", :class => "fidelity-component", :'data-experiment' => 'new_experiments', :'data-attribute' => 'haptic_id' %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_haptic_id_#{component.id}", :'data-attribute' => 'haptic_id', :title => component.tooltip, :'ref' => 'tooltip', :'data-placement' => 'top' %>
              </div>

            <% end %>
            <div class="checkbox inline pill other">
              <input class="fidelity-component" data-attribute="haptic_id" data-experiment="new_experiments" id="experiments_attributes_new_experiments_haptic_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'experiment_haptic', 'haptic_fidelity', 'levels');create_other(this, 'Other', 'other_0', 'experiment_haptic', 'haptic_fidelity', 'component', 'levels', '<%= form_authenticity_token %>')" type="checkbox" value="other">
              <label data-attribute="haptic_id" for="experiments_attributes_new_experiments_haptic_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
            </div>

          </div>
          <div id="experiment_new_experiments_experiment_haptic" class="experiment_haptic-desc fidelity-desc span12" data-attribute="haptic">
            <% if !@paper.new_record? %>  
              <%= f.fields_for :experiment_haptics do |experiment_haptic| %>
                <div data-id="" id="experiment_new_experiments_haptic_fidelity_<%= experiment_haptic.object.haptic_fidelity_id %>" class="haptic_fidelity">
                  <div class="field">
                    <%= experiment_haptic.hidden_field :haptic_fidelity_id, :'data-attribute' => "haptic_fidelity_id" %>
                    <%= experiment_haptic.label :desc, "#{experiment_haptic.object.haptic_fidelity.component} levels", :'data-attribute' => "desc" %>
                    <%= experiment_haptic.text_field :desc, :class => "span12", :'data-attribute' => "desc", :title => 'Enter the different levels or conditions of this component varied in this experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
                    <%= link_to_remove_fields "x", experiment_haptic %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_new_experiments" href="#collapse_new_experiment_1">
          <i class="icon-chevron-right"></i><i class="icon-chevron-down" style="display: none;"></i> Interaction Fidelity
        </a>
      </div>
      <div id="collapse_new_experiment_1" class="accordion-body collapse">
        <div class="fidelity accordion-inner">
          <div class="fidelity-list span12 biomechanical_symmetry-checkboxes">
            <legend>Biomechanical Symmetry</legend>
            <% BiomechanicalSymmetry.find(:all, :order => "component ASC").each do |component| %>
              <div class="checkbox inline pill">
                <%= check_box_tag nil, component.id, f.object.biomechanical_symmetries.include?(component), :id => "experiments_attributes_new_experiments_biomechanical_id_#{component.id}", :onchange => "create_component_description(this, '#{component.component}', #{component.id}, 'experiment_biomechanical', 'biomechanical_symmetry', 'levels')", :class => "fidelity-component", :'data-experiment' => 'new_experiments', :'data-attribute' => 'biomechanical_id' %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_biomechanical_id_#{component.id}", :'data-attribute' => 'biomechanical_id', :title => component.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
              </div>

            <% end %>
            <div class="checkbox inline pill other">
              <input class="fidelity-component" data-attribute="biomechanical_id" data-experiment="new_experiments" id="experiments_attributes_new_experiments_biomechanical_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'experiment_biomechanical', 'biomechanical_symmetry', 'levels');create_other(this, 'Other', 'other_0', 'experiment_biomechanical', 'biomechanical_symmetry', 'component', 'levels', '<%= form_authenticity_token %>')" type="checkbox" value="other">
              <label data-attribute="biomechanical_id" for="experiments_attributes_new_experiments_biomechanical_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
            </div>

          </div>
          <div id="experiment_new_experiments_experiment_biomechanical" class="experiment_biomechanical-desc fidelity-desc span12" data-attribute="biomechanical">
            <% if !@paper.new_record? %>  
              <%= f.fields_for :experiment_biomechanicals do |experiment_biomechanical| %>
                <div data-id="" id="experiment_new_experiments_biomechanical_symmetry_<%= experiment_biomechanical.object.biomechanical_symmetry_id %>" class="biomechanical_symmetry">
                  <div class="field">
                    <%= experiment_biomechanical.hidden_field :biomechanical_symmetry_id, :'data-attribute' => "biomechanical_symmetry_id" %>
                    <%= experiment_biomechanical.label :desc, "#{experiment_biomechanical.object.biomechanical_symmetry.component} levels", :'data-attribute' => "desc" %>
                    <%= experiment_biomechanical.text_field :desc, :class => "span12", :'data-attribute' => "desc", :title => 'Enter the different levels or conditions of this component varied in this experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
                    <%= link_to_remove_fields "x", experiment_biomechanical %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="fidelity-list span12 control_symmetry-checkboxes">
            <legend>Control Symmetry</legend>
            <% ControlSymmetry.find(:all, :order => "component ASC").each do |component| %>
              <div class="checkbox inline pill">
                <%= check_box_tag nil, component.id, f.object.control_symmetries.include?(component), :id => "experiments_attributes_new_experiments_control_id_#{component.id}", :onchange => "create_component_description(this, '#{component.component}', #{component.id}, 'experiment_control', 'control_symmetry', 'levels')", :class => "fidelity-component", :'data-experiment' => 'new_experiments', :'data-attribute' => 'control_id' %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_control_id_#{component.id}", :'data-attribute' => 'control_id', :title => component.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
              </div>

            <% end %>
            <div class="checkbox inline pill other">
              <input class="fidelity-component" data-attribute="control_id" data-experiment="new_experiments" id="experiments_attributes_new_experiments_control_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'experiment_control', 'control_symmetry', 'levels');create_other(this, 'Other', 'other_0', 'experiment_control', 'control_symmetry', 'component', 'levels', '<%= form_authenticity_token %>')" type="checkbox" value="other">
              <label data-attribute="control_id" for="experiments_attributes_new_experiments_control_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
            </div>

          </div>
          <div id="experiment_new_experiments_experiment_control" class="experiment_control-desc fidelity-desc span12" data-attribute="control">
            <% if !@paper.new_record? %>  
              <%= f.fields_for :experiment_controls do |experiment_control| %>
                <div data-id="" id="experiment_new_experiments_control_symmetry_<%= experiment_control.object.control_symmetry_id %>" class="control_symmetry">
                  <div class="field">
                    <%= experiment_control.hidden_field :control_symmetry_id, :'data-attribute' => "control_symmetry_id" %>
                    <%= experiment_control.label :desc, "#{experiment_control.object.control_symmetry.component} levels", :'data-attribute' => "desc" %>
                    <%= experiment_control.text_field :desc, :class => "span12", :'data-attribute' => "desc", :title => 'Enter the different levels or conditions of this component varied in this experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
                    <%= link_to_remove_fields "x", experiment_control %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="fidelity-list span12 system_appropriateness-checkboxes">
            <legend>System Appropriateness</legend>
            <% SystemAppropriateness.find(:all, :order => "component ASC").each do |component| %>
              <div class="checkbox inline pill">
                <%= check_box_tag nil, component.id, f.object.system_appropriatenesses.include?(component), :id => "experiments_attributes_new_experiments_system_app_id_#{component.id}", :onchange => "create_component_description(this, '#{component.component}', #{component.id}, 'experiment_system_app', 'system_appropriateness', 'levels')", :class => "fidelity-component", :'data-experiment' => 'new_experiments', :'data-attribute' => 'system_app_id' %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_system_app_id_#{component.id}", :'data-attribute' => 'system_app_id', :title => component.tooltip, :'ref' => 'tooltip', :'data-placement' => 'top' %>
              </div>

            <% end %>
            <div class="checkbox inline pill other">
              <input class="fidelity-component" data-attribute="system_app_id" data-experiment="new_experiments" id="experiments_attributes_new_experiments_system_app_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'experiment_system_app', 'system_appropriateness', 'levels');create_other(this, 'Other', 'other_0', 'experiment_system_app', 'system_appropriateness', 'component', 'levels', '<%= form_authenticity_token %>')" type="checkbox" value="other">
              <label data-attribute="system_app_id" for="experiments_attributes_new_experiments_system_app_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
            </div>

          </div>
          <div id="experiment_new_experiments_experiment_system_app" class="experiment_system_app-desc fidelity-desc span12" data-attribute="system_app">
            <% if !@paper.new_record? %>  
              <%= f.fields_for :experiment_system_apps do |experiment_system_app| %>
                <div data-id="" id="experiment_new_experiments_system_appropriateness_<%= experiment_system_app.object.system_appropriateness_id %>" class="system_appropriateness">
                  <div class="field">
                    <%= experiment_system_app.hidden_field :system_appropriateness_id, :'data-attribute' => "system_appropriateness_id" %>
                    <%= experiment_system_app.label :desc, "#{experiment_system_app.object.system_appropriateness.component} levels", :'data-attribute' => "desc" %>
                    <%= experiment_system_app.text_field :desc, :class => "span12", :'data-attribute' => "desc", :title => 'Enter the different levels or conditions of this component varied in this experiment', :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
                    <%= link_to_remove_fields "x", experiment_system_app %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_new_experiments" href="#collapse_new_experiment_2">
          <i class="icon-chevron-right"></i><i class="icon-chevron-down" style="display: none;"></i> Scenario Fidelity
        </a>
      </div>
      <div id="collapse_new_experiment_2" class="accordion-body collapse">
        <div class="fidelity accordion-inner">
          Being curated, check back soon!
        </div>
      </div>
    </div>
  </div>

  <legend class="with-helper-text">Additional Information</legend>
  <p class="after-legend"><small>This last area is for documenting additional independent variables (not components of fidelity) and their levels as well as other factors that were held constant in this experiment.</small></p>

  <div id="experiment_new_experiments_experiment_indy_variables" class="indy-variables well">
    <% if @paper.new_record? %>  
      <%= add_fields f, :experiment_indy_variables %>
    <% else %>
      <%= f.fields_for :experiment_indy_variables do |builder| %>
        <%= render 'experiment_indy_variable_fields', :f =>builder %>
      <% end %>
    <% end %>

    <div class="indy-variable-generator">
      <%= link_to_add_fields "Add Another Independent Variable", f, :experiment_indy_variables, 'btn btn-primary', 'before' %>
    </div>
  </div>

  <div class="field field-constants exp-field">
    <%= f.label :constants, :'data-attribute' => 'constants' %>
  <p class="after-legend"><small>List factors that were held constant in this experiments, paying special attention to components fidelity. Note that details about task and environment will be entered later.</small></p>
    <%= f.text_area :constants, :class => 'span12', :rows => 5, :'data-attribute' => 'constants' %>
  </div>

  <%= link_to_remove_fields "Remove Experiment", f %>

  <%= f.fields_for :tasks do |builder| %>
    <%= render 'task_fields', :f => builder %>
  <% end %>

  <p class="new_task" data-experiment="new_experiments">
    <%= button_to_add_elements "Save and Continue", f, :tasks %>
  </p>
</div>

