<div id="experiment_new_experiments" class="experiment">

  <h1>Experiment Information</h1>

  <p><small>This section is for adding the details of the experiments described in the publication. All experiments are classified as either <strong>INDEPENDENT COMPONENT STUDIES</strong> or <strong>HOLISTIC COMPARISONS</strong>. <strong>INDEPENDENT COMPONENT STUDIES</strong> are experiments varying one or more components of immersion independently (e.g., the experiment varies only field of view, and holds all other aspects of the system constant). <strong>HOLISTIC COMPARISONS</strong> are experiments varying multiple components of immersion simultaneously, so that the effects of individual components cannot be determined directly (e.g., the experiment compares a head-mounted display to a CAVE)</small></p>


  <legend class="with-helper-text">General Information</legend>
  <p class="after-legend"><small>Create a title / nickname for the experiment so that it can be referred back to easily in the entry progress list. Also provide the research questions and goals that motivate the experiment.</small></p>

  <div class="field field-title">
    <%= f.label :title, 'Experiment Title'  %>
    <%= f.text_field :title, :class => 'span12' %>
  </div>
  <div class="field field-exp-desc">
    <%= f.label :exp_desc, 'Research Questions and Goals' %>
    <%= f.text_area :exp_desc, :class => 'span12', :rows => 5 %>
  </div>

  <legend class="with-helper-text">Participant Information</legend>
  <p class="after-legend"><small>This area documents total number of participants and their age range.  Also please list the technical background and other relevant information about the participants in this experiment.</small></p>

  <div class="inline-group range">
    <div class="field">
      <%= f.label :part_num, 'Total Number' %>
      <%= f.number_field :part_num, :class => 'input-mini' %>
    </div>
    <div class="field before-hyphen">
      <%= f.label :part_age_min, 'Min Age' %>
      <%= f.number_field :part_age_min, :class => 'input-mini' %>
    </div>
    <div class="field hyphen">
      -
    </div>
    <div class="field after-hyphen">
      <%= f.label :part_age_max, 'Max Age' %>
      <%= f.number_field :part_age_max, :class => 'input-mini' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :gender, 'Gender Balance' %>
    <% Gender.all.each do |gender| %>

      <label class="radio inline pill">
        <%= f.radio_button :gender_id, gender.id %>
        <%= f.label :gender_id, gender.gender, :value => gender.id %>
      </label>

    <% end %>
  </div>

  <div class="field field-part-background">
    <%= f.label :part_background, "Participants' Background" %>
    <%= f.text_area :part_background, :class => 'span12', :rows => 5 %>
  </div>

  <legend class="with-helper-text">System Information</legend>
  <p class="after-legend"><small>Use the autocomplete field to indicate categories of displays used in this experiment and then provide technical specifications of these displays in the text area below. Then use the hardware and software autocomplete fields to provide general information on the system used in this experiment such as input devices, tracking systems, graphics packages, etc. Additonal details of the system such as computer specs, modifications, etc. can be added in the last text area.</small></p>


  <h1> Display Test </h1>

  <div id="displays" class="displays well">
      <%= add_fields f, :experiment_displays %>

      <div class="display-generator">
        <%= link_to_add_fields "Add Another Display", f, :experiment_displays, 'btn btn-primary', 'before' %>
      </div>
  </div>

  <div class="field token-input">
      <%= f.label :hardware_tokens, "Additional Hardware" %>
      <%= f.text_field :hardware_tokens, "data-pre" => f.object.hardwares.to_json, "data-type" => "hardware", :class => 'span12' %>
  </div>
  <div class="field token-input">
      <%= f.label :software_tokens, "VR Software Used" %>
      <%= f.text_field :software_tokens, "data-pre" => f.object.softwares.to_json, "data-type" => "software", :class => 'span12' %>
  </div>

  <div class="field field-system-desc">
    <%= f.label :system_desc, 'Other Hardware / Software' %>
    <%= f.text_area :system_desc, :class => 'span12', :rows => 5 %>
  </div>

  <legend class="with-helper-text">Components of Fidelity</legend>
  <p class="after-legend"><small>Use the buttons below to select all the components of fidelity varied in this experiment then provide details on the different levels in the text area below.</small></p>

<!--   <div class="field components-of-immersion">
    <%= f.label :components %>
    <%= hidden_field_tag "paper[experiments_attributes][new_experiments][component_ids][]", nil, :class => 'hidden' %>
    <% Component.all.each do |component| %>
      <label class="checkbox inline pill">
        <%= check_box_tag nil, component.id, f.object.components.include?(component), :id => "experiments_attributes_new_experiments_component_id_#{component.id}" %>
        <%= label_tag "paper[experiments_attributes][new_experiments][component_ids][]", component.comp_of_immersion, :for => "experiments_attributes_new_experiments_component_id_#{component.id}" %>
      </label>

    <% end %>
  </div> -->

  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <h4>Display Fidelity</h4>
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
        <div class="fidelity accordion-inner">
          <div class="fidelity-list span12">
            <legend>Visual Fidelity</legend>
            <% VisualFidelity.all.each do |component| %>
              <label class="checkbox inline pill">
                <%= check_box_tag nil, component.id, false, :id => "experiments_attributes_new_experiments_visual_id_#{component.id}" , :onchange => "create_description(this, '#{component.component}', new_experiments, #{component.id}, 'experiment_visual', 'visual_fidelity')" %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_visual_id_#{component.id}" %>
              </label>

            <% end %>
          </div>
          <div id="experiment_new_experiments_experiment_visual" class="fidelity-desc"></div>

          <div class="fidelity-list span12">
            <legend>Auditory Fidelity</legend>
            <% AuralFidelity.all.each do |component| %>
              <label class="checkbox inline pill">
                <%= check_box_tag nil, component.id, false, :id => "experiments_attributes_new_experiments_auditory_id_#{component.id}" , :onchange => "create_description(this, '#{component.component}', new_experiments, #{component.id}, 'experiment_aural', 'aural_fidelity')" %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_auditory_id_#{component.id}" %>
              </label>

            <% end %>
          </div>
          <div id="experiment_new_experiments_experiment_aural" class="fidelity-desc"></div>

          <div class="fidelity-list span12">
            <legend>Haptic Fidelity</legend>
            <% HapticFidelity.all.each do |component| %>
              <label class="checkbox inline pill">
                <%= check_box_tag nil, component.id, false, :id => "experiments_attributes_new_experiments_haptic_id_#{component.id}" , :onchange => "create_description(this, '#{component.component}', new_experiments, #{component.id}, 'experiment_haptic', 'haptic_fidelity')" %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_haptic_id_#{component.id}" %>
              </label>

            <% end %>
          </div>
          <div id="experiment_new_experiments_experiment_haptic" class="fidelity-desc"></div>

        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Interaction Fidelity
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
        <div class="fidelity accordion-inner">
          <div class="fidelity-list span12">
            <legend>Biomechanical Symmetry</legend>
            <% BiomechanicalSymmetry.all.each do |component| %>
              <label class="checkbox inline pill">
                <%= check_box_tag nil, component.id, false, :id => "experiments_attributes_new_experiments_biomechanical_id_#{component.id}", :onchange => "create_description(this, '#{component.component}', new_experiments, #{component.id}, 'experiment_biomechanical', 'biomechanical_symmetry')" %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_biomechanical_id_#{component.id}" %>
              </label>

            <% end %>
          </div>
          <div id="experiment_new_experiments_experiment_biomechanical" class="fidelity-desc"></div>

          <div class="fidelity-list span12">
            <legend>Control Symmetry</legend>
            <% ControlSymmetry.all.each do |component| %>
              <label class="checkbox inline pill">
                <%= check_box_tag nil, component.id, false, :id => "experiments_attributes_new_experiments_control_id_#{component.id}", :onchange => "create_description(this, '#{component.component}', new_experiments, #{component.id}, 'experiment_control', 'control_symmetry')" %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_control_id_#{component.id}" %>
              </label>

            <% end %>
          </div>
          <div id="experiment_new_experiments_experiment_control" class="fidelity-desc"></div>

          <div class="fidelity-list span12">
            <legend>System Appropriateness</legend>
            <% SystemAppropriateness.all.each do |component| %>
              <label class="checkbox inline pill">
                <%= check_box_tag nil, component.id, false, :id => "experiments_attributes_new_experiments_system_app_id_#{component.id}", :onchange => "create_description(this, '#{component.component}', new_experiments, #{component.id}, 'experiment_system_app', 'system_appropriateness')" %>
                <%= label_tag nil, component.component, :for => "experiments_attributes_new_experiments_system_app_id_#{component.id}" %>
              </label>

            <% end %>
          </div>
          <div id="experiment_new_experiments_experiment_system_app" class="fidelity-desc"></div>

        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Scenario Fidelity
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
        <div class="fidelity accordion-inner">
          Being curated, check back soon!
        </div>
      </div>
    </div>
  </div>

  <div class="field field-comp-desc">
    <%= f.label :comp_desc, 'Components of Fidelity Description' %>
    <%= f.text_area :comp_desc, :class => 'span12', :rows => 5 %>
  </div>

  <legend class="with-helper-text">Additional Information</legend>
  <p class="after-legend"><small>This last area is for documenting additional independent variables (not components of fidelity) and their levels as well as other factors that were held constant in this experiment.</small></p>

  <div class="field field-other-vars">
    <%= f.label :other_vars, 'Additional Independent Variables' %>
    <%= f.text_area :other_vars, :class => 'span12', :rows => 5 %>
  </div>
  <div class="field field-constants">
    <%= f.label :constants %>
    <%= f.text_area :constants, :class => 'span12', :rows => 5 %>
  </div>

  <%= link_to_remove_fields "Remove Experiment", f %>

  <%= f.fields_for :tasks do |builder| %>
    <%= render 'task_fields', :f => builder %>
  <% end %>

  <p class="new_task"><%= link_to_add_fields "Next Step -> Add Task", f, :tasks, 'btn btn-primary' %></p>
</div>

