<div class="display">
	<div class="inline-group">
		<div class="field token-input span3">
		  <%= f.label :hardware_tokens, "Input Device" %>
		  <%= f.text_field :hardware_tokens, "data-pre" => f.object.display.to_json, "data-type" => "hardware", :class => 'span3' %>
		</div>

		<div class="span9">
			<div class="field field-hardware-desc span11">
			  <%= f.label :desc, 'Input Device Description' %>
			  <%= f.text_field :desc, :class => 'span12' %>
			</div>

			<div class="field destroy-display span1">
	      <%= link_to_remove_fields "x", f %>
	      <button type="button" onclick="remove_author_paper_fields(this); return false;" class="close">×</button>
	    </div>
	  </div>
	</div>
</div>