<%= form_for(@paper, remote: true, :html => { :class => "paper-form"}, :builder => Judge::FormBuilder) do |f| %>
  <% if @paper.new_record? %>  
    <!-- <h1>New Record!</h1> -->

  <% else %>                      
    <!-- <h1>Editing Record!</h1> -->
        
  <% end %>

  <div class="row-fluid">
    <div class="span3">
      <div id="entry_progress" class="well span3">
        <legend class="with-helper-text">Entry Navigation</legend>
        <p class="after-legend"><small>This shows your progress as you enter the paper. If you need to jump around please select a heading below to be moved to that section.</small></p>
        <div id="progress-headings">

          <a class="current publication-block" data-target="#paper" onclick="show_element(this)">
            <div class="publication-heading">
              <div class="title-field">Publication Information</div>
            </div>
          </a>

        </div>
        <button class="btn btn-primary" data-loading-text="Autosaving..." onclick="add_test(this); return false;">Save</button>
      </div>
    </div>

    <div class="span9">
      <div id="paper_entry_form">

        <% if @paper.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

            <ul>
            <% @paper.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div id="paper" class="paper core-element">

          <h1>Publication Information</h1>

          <p><small>The first step in the entry process is to provide the publications details. All entries in the knowledgebase must be based on peer-reviewed, published research. Please begin by providing the DOI to automate the process, or enter the information manually.</small></p>
          <br>

          <div class="well doi-well">
            <legend class="with-helper-text">Using a DOI (Digital Object Identifier)</legend>
            <p class="after-legend"><small>If you know the DOI for this entry, simply type it in the field below and click 'Lookup DOI' to automatically populate the paper details. Please be sure to review the data to make sure it is correct.</small></p>
            <div class="field doi-field">
             <!--  <%= f.label :doi, 'DOI' %> -->
              <div class="input-append">
                <%= f.text_field :doi, :class => 'input-large', :title => 'Format: 10.1016/j.ijhcs.2008.10.003)', :'ref' => 'tooltip', :'data-placement' => 'bottom' %><button id="submit-doi" class="btn btn-primary" data-loading-text="Loading..." type="button">Lookup DOI</button>
              </div>
            </div>
            <span class="help-block">(Format: 10.1016/j.ijhcs.2008.10.003)</span>
          </div>

          <legend class="with-helper-text">Manual Entry</legend>
          <p class="after-legend"><small>This section is for manually entering the publication information or reviewing/editing information populated by the DOI. Once you are finished click the next button at the bottom of the wizard to move onto adding an experiment.</small></p>

          <div class="field">
            <%= f.label :title, 'Publication Title' %>
            <%= f.text_field :title, :class => 'span12' %>
          </div>

          <div class="well">
            <div class="attribute_block">
              <legend class="with-helper-text">Adding Authors</legend>
              <p class="after-legend"><small>Add authors in the proper order below. If you need to add more than one author use the add authors link.</small></p>

              <div class="authors">
                <% if @paper.new_record? %>  
                  <%= add_fields f, :author_papers %>
                <% else %>
                  <%= f.fields_for :author_papers do |builder| %>
                    <%= render 'author_paper_fields', :f =>builder %>
                  <% end %>
                <% end %>

                <div class="author-generator">
                  <%= link_to_add_fields "Add Author", f, :author_papers, 'btn btn-primary', 'before' %>
                </div>
              </div>
            </div>
          </div>

          <div class="venue">
            <%= f.fields_for :venues do |builder| %>
              <%= render 'venue_fields', :f =>builder %>
            <% end %>
          </div>

          <div class="inline-group range">
            <div class="field">
              <%= f.label :year %>

              <%= f.date_select :year, {:start_year => Time.now.year, :end_year => 1950, :discard_day => true, :discard_month => true}, :class => 'input-small' %>
            </div>
            <div class="field">
              <%= f.label :volume %>
              <%= f.number_field :volume, :class => 'input-mini' %>
            </div>
            <div class="field">
              <%= f.label :issue %>
              <%= f.number_field :issue, :class => 'input-mini' %>
            </div>
            <div class="field before-hyphen">
              <%= f.label :start_page, "Start Page" %>
              <%= f.number_field :start_page, :class => 'input-mini' %>
            </div>
            <div class="field hyphen">
              -
            </div>
            <div class="field after-hyphen">
              <%= f.label :end_page, "End Page" %>
              <%= f.number_field :end_page, :class => 'input-mini' %>
            </div>
          </div>

          <div class="field clear .field-title">
            <%= f.label :paper_url %>
            <%= f.text_field :paper_url, :class => 'span12' %>
          </div>

          <%= f.fields_for :experiments do |builder| %>
            <%= render 'experiment_fields', :f => builder %>
          <% end %>

          <p class="new_experiment">
            <%= button_to_add_elements "Autosave and Continue", f, :experiments %>
          </p>

        </div>
      </div>

      <!-- <div class="actions">
        <%= f.submit %>
      </div> -->
    </div>
  </div>


<% end %>
