<div id="experiment_new_experiments_task_new_tasks" class="task core-element" data-experiment="new_experiments" data-task="new_tasks">

  <h1>User Task Information</h1>

  <p><small>This section documents the different user tasks performed in the experiment. Most experiments will only have one user task. For each user task you will begin by providing the basic details, and then add relevent findings.</small></p>

  <legend class="with-helper-text">General Information</legend>
  <p class="after-legend"><small>Create a title / nickname for the task so that it can be referred back to easily in the entry progress list.</small></p>

  <div class="field field-title task-field control-group">
    <%= f.label :title, "User Task Title", :'data-attribute' => 'title', :class=> 'required' %>
    <%= f.text_field :title, :class => 'span12 validated-field', :required => true, :validate => true, :onchange => "validate_field(this)", :'data-attribute' => 'title' %>
  </div>

  <legend class="with-helper-text">Task Information</legend>
  <p class="after-legend"><small>This area documents what type of task was performed.</small></p>

  <div class="field task-categories control-group">
    <%= f.label nil, "User Task Category", :class=> 'required' %>
    <p class="after-legend"><small>Click on all task categories relevant to this task.</small></p>
    <% Category.all.each do |category| %>
      <div class="checkbox inline pill task-category">
        <%= check_box_tag "paper[experiments_attributes][new_experiments][tasks_attributes][new_tasks][category_ids][]", category.id, f.object.categories.include?(category), :id => "experiments_attributes_new_experiments_tasks_attributes_new_tasks_category_id_#{category.id}", :'data-attribute' => 'category_id', :class => 'category_group' %>
        <%= label_tag "paper[experiments_attributes][new_experiments][tasks_attributes][new_tasks][category_ids][]", category.task_category, :for => "experiments_attributes_new_experiments_tasks_attributes_new_tasks_category_id_#{category.id}", :'data-attribute' => 'category_id', :title => category.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom', :'data-html' => 'true' %>
      </div>
    <% end %>
  </div>

  <div class="field task-field control-group">
    <%= f.label :task_desc, "User Task Description", :'data-attribute' => 'task_desc', :class=> 'required' %>
    <%= f.text_area :task_desc, :class => 'span12 validated-field', :required => true, :validate => true, :onchange => "validate_field(this)", :rows => 5, :'data-attribute' => 'task_desc' %>
  </div>

  <legend class="with-helper-text">Interaction / Environment Information</legend>
  <p class="after-legend"><small>This area describes the type of interface and enviroment the task was performed in. Please describe in detail the interaction and interface, then select from the radio buttons general information on the envrionment. Lastly provide any detailed information not captured in the last text area.</small></p>

  <div class="field task-field">
    <%= f.label :interface_desc, "Interaction Description", :'data-attribute' => 'interface_desc' %>
    <%= f.text_area :interface_desc, :class => 'span12', :rows => 5, :'data-attribute' => 'interface_desc', :title => 'Describe the types of interaction the user could perform on this task and the methods used to perform them', :'ref' => 'tooltip', :'data-placement' => 'left' %>
  </div>

  <div class="field dimensions control-group">
      <%= f.label :nil, 'Dimensionality of the Environment', :class=> 'required' %>
      <% Dimension.all.each do |dimension| %>
        <div class="radio inline pill dimension">
          <%= f.radio_button :dimension_id, dimension.id, :'data-attribute' => 'dimension_id', :class => 'dimension_group' %>
          <%= f.label :dimension_id, dimension.level, :value => dimension.id, :'data-attribute' => 'dimension_id', :title => dimension.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
        </div>
      <% end %>
  </div>

  <div class="field control-group">
    <%= f.label :nil, 'Scale of the Environment', :class=> 'required' %>
    <% Scale.all.each do |scale| %>
      <div class="radio inline pill scale">
        <%= f.radio_button :scale_id, scale.id, :'data-attribute' => 'scale_id', :class => 'scale_group' %>
        <%= f.label :scale_id, scale.level, :value => scale.id, :'data-attribute' => 'scale_id', :title => scale.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
      </div>
    <% end %>
  </div>

  <div class="field control-group">
    <%= f.label :nil, 'Density of the Environment', :class=> 'required' %>
    <% Density.all.each do |density| %>
      <div class="radio inline pill density">
        <%= f.radio_button :density_id, density.id, :'data-attribute' => 'density_id', :class => 'density_group' %>
        <%= f.label :density_id, density.level, :value => density.id, :'data-attribute' => 'density_id', :title => density.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
      </div>
    <% end %>
  </div>

  <div class="field control-group">
    <%= f.label :nil, 'Realism of the Environment', :class=> 'required' %>
    <% Realism.all.each do |realism| %>
      <div class="radio inline pill realism">
        <%= f.radio_button :realism_id, realism.id, :'data-attribute' => 'realism_id', :class => 'realism_group' %>
        <%= f.label :realism_id, realism.level, :value => realism.id, :'data-attribute' => 'realism_id', :title => realism.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom' %>
      </div>
    <% end %>
  </div>

  <div class="field task-field">
    <%= f.label :env_desc, "Additional Environment Details", :'data-attribute' => 'env_desc' %>
    <%= f.text_area :env_desc, :class => 'span12', :rows => 5, :'data-attribute' => 'env_desc' %>
  </div>

  <!-- <legend class="with-helper-text">Metrics</legend> -->

  <legend class="with-helper-text">Metrics</legend>
  <p class="after-legend"><small>Select all metrics used for evalutating this task.</small></p>
  <div id="experiment_new_experiments_task_new_tasks_task_metrics" class="metrics well">
    <div class="field metric-list metric-checkboxes control-group">
      <% Metric.all.each do |metric| %>
        <div class="checkbox inline pill">
          <%= check_box_tag nil, metric.id, f.object.metrics.include?(metric), :id => "experiments_attributes_new_experiments_tasks_attributes_new_tasks_metric_id_#{metric.id}" , :onchange => "create_component_description(this, '#{metric.metric}', #{metric.id}, 'task_metric', 'metric', 'method of measurement')", :'data-experiment' => 'new_experiments', :'data-task' => 'new_tasks', :'data-attribute' => 'metric_id', :class => 'metrics_group' %>
          <%= label_tag nil, metric.metric, :for => "experiments_attributes_new_experiments_tasks_attributes_new_tasks_metric_id_#{metric.id}", :'data-attribute' => 'metric_id', :title => metric.tooltip, :'ref' => 'tooltip', :'data-placement' => 'bottom', :'data-html' => 'true' %>
        </div>

      <% end %>
      <div class="checkbox inline pill other">
        <input data-attribute="metric_id" data-experiment="new_experiments" data-task="new_tasks" id="experiments_attributes_new_experiments_tasks_attributes_new_tasks_metric_id_other_0" onchange="create_component_description(this, 'Other', 'other_0', 'task_metric', 'metric', 'method of measurement');create_other(this, 'Other', 'other_0', 'task_metric', 'metric', 'metric', 'method of measurement', '<%= form_authenticity_token %>')" type="checkbox" value="other">
        <label data-attribute="metric_id" for="experiments_attributes_new_experiments_tasks_attributes_new_tasks_metric_id_other_0">Other<span class="colon">:</span> <input class="input-small" type="text"></label>
      </div>

    </div>
    <div id="experiment_new_experiments_task_new_tasks_task_metric" class="task_metric-desc metric-desc row-fluid" data-attribute="metric">
      <% if !@paper.new_record? %>  
        <%= f.fields_for :task_metrics do |task_metric| %>
          <div data-id="" id="experiment_new_experiments_task_new_tasks_metric_<%= task_metric.object.metric_id %>" class="metric">
            <div class="field">
              <%= task_metric.hidden_field :metric_id, :'data-attribute' => "metric_id" %>
              <%= task_metric.label :desc, "#{task_metric.object.metric.metric} method of measurement", :'data-attribute' => "desc" %>
              <%= task_metric.text_field :desc, :class => "span12", :'data-attribute' => "desc" %>
              <%= link_to_remove_fields "x", task_metric %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to_remove_fields "Remove Task", f %>

  <%= f.fields_for :findings do |builder| %>
    <%= render 'finding_fields', :f => builder %>
  <% end %>

  <p class="new_finding" data-experiment="new_experiments" data-task="new_tasks">
    <%= button_to_add_elements "Save and Continue", f, :findings %>
  </p>
</div>
