<div id="task_new_tasks" class="task">

  <h1>User Task Information</h1>

  <p><small>This section documents the different user tasks performed in the experiment. Most experiments will only have one user task. For each user task you will begin by providing the basic details, and then add relevent findings.</small></p>

  <legend class="with-helper-text">General Information</legend>
  <p class="after-legend"><small>Create a title / nickname for the task so that it can be referred back to easily in the entry progress list.</small></p>

  <div class="field field-title">
    <%= f.label :title, "User Task Title" %>
    <%= f.text_field :title, :class => 'span12' %>
  </div>

  <legend class="with-helper-text">Task Information</legend>
  <p class="after-legend"><small>This area documents what type of task was performed. Use the autocomplete field to enter the different task categories and then please provide a detailed description in the text area below.</small></p>

  <div class="field task-categories">
    <%= f.label :categories, "User Task Category" %>
    <% Category.all.each do |category| %>

      <label class="checkbox inline pill">
        <%= check_box_tag "paper[experiments_attributes][new_experiments][category_ids][]", category.id, f.object.categories.include?(category), :id => "experiment_category_id_#{category.id}" %>
        <%= label_tag "paper[experiments_attributes][new_experiments][category_ids][]", category.task_category, :for => "experiment_category_id_#{category.id}" %>
      </label>

    <% end %>
  </div>

  <div class="field">
    <%= f.label :task_desc, "User Task Description" %>
    <%= f.text_area :task_desc, :class => 'span12', :rows => 5 %>
  </div>

  <legend class="with-helper-text">Interface / Environment Information</legend>
  <p class="after-legend"><small>This area describes the type of interface and enviroment the task was performed in. Please describe in detail the interface, then select from the radio buttons general information on the envrionment. Lastly provide any detailed information not captured in the last text area.</small></p>

  <div class="field">
    <%= f.label :interface_desc, "Interface Description" %>
    <%= f.text_area :interface_desc, :class => 'span12', :rows => 5 %>
  </div>

  <div class="field">
      <%= f.label :dimension, 'Dimensionality of the Environment' %>
      <% Dimension.all.each do |dimension| %>
        <label class="radio inline pill">
          <%= f.radio_button :dimension_id, dimension.id %>
          <%= f.label :dimension_id, dimension.level %>
        </label>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :scale, 'Scale of the Environment' %>
    <% Scale.all.each do |scale| %>
      <label class="radio inline pill">
        <%= f.radio_button :scale_id, scale.id %>
        <%= f.label :scale_id, scale.level %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :density, 'Density of the Environment' %>
    <% Density.all.each do |density| %>
      <label class="radio inline pill">
        <%= f.radio_button :density_id, density.id %>
        <%= f.label :density_id, density.level %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :realism, 'Realism of the Environment' %>
    <% Realism.all.each do |realism| %>
      <label class="radio inline pill">
        <%= f.radio_button :realism_id, realism.id %>
        <%= f.label :realism_id, realism.level %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :env_desc, "Additional Environment Details" %>
    <%= f.text_area :env_desc, :class => 'span12', :rows => 5 %>
  </div>

  <legend class="with-helper-text">Metrics</legend>
  <p class="after-legend"><small>Use the autocomplete field below to select all metrics used for evalutating this task.</small></p>

  <div class="field token-input">
      <%= f.label :metric_tokens, "Metrics Used for Evaluation" %>
      <%= f.text_field :metric_tokens, "data-pre" => f.object.metrics.to_json, "data-type" => "metric" %>
  </div>

  <%= link_to_remove_fields "Remove Task", f %>

  <%= f.fields_for :findings do |builder| %>
    <%= render 'finding_fields', :f => builder %>
  <% end %>

  <p class="new_finding"><%= link_to_add_fields "Next Step -> Add Finding", f, :findings, 'btn btn-primary' %></p>
</div>
