<div class="row-fluid">
  <div class="paper-show span12">

    <div class="row-fluid">
      <div class="span1"></div>
      <div class= "paper-details span10 well">
        <h1><%= @paper.title %></h1>
        <blockquote>
          <ul class="authors">
            <% for author in @paper.authors %>
              <li class="author"><a href="#"><%= author.first_name %> 
                <% if author.middle_initial && author.middle_initial != "" %>
                  <%= author.middle_initial + '.' %>
                <% end %>
                <%= author.last_name %></a></li>
            <% end %>
          </ul>
          <%= @paper.venues.first.name %> (<%= @paper.year.year %>), 
          <% if @paper.start_page && @paper.start_page != "" && @paper.end_page && @paper.start_page != "" %>
            pp. <%= @paper.start_page %>-<%= @paper.end_page %>, 
          <% end %>
          <% if @paper.doi && @paper.doi != "" %>
            doi: 
            <% if @paper.paper_url && @paper.paper_url != "" %>
              <a href="<%= @paper.paper_url %>"><%= @paper.doi %></a>
            <% else %>
              <%= @paper.doi %>
            <% end %>
          <% end %>
        </blockquote>
        <div class="paper-modify">
          <%= link_to 'edit', edit_paper_path(@paper), :class => "edit-paper" %> |
          <%= link_to 'delete', @paper, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </div>
      </div>
    </div>

    <div class="row-fluid headings">
      <div class="span4"><legend>Experiments</legend></div>
      <div class="span4"><legend>Tasks</legend></div>
      <div class="span4"><legend>Findings</legend></div>
    </div>

    <% for experiment in @paper.experiments %>
      <div class="row-fluid">
          <div class="exp-desc span4">
            <p><%= experiment.exp_desc %></p>

            <div>
              <% if experiment.constants && experiment.constants != "" %>
                <h5 class="title">Variables and Constants</h5>
              <% else %>
                <h5 class="title">Variables</h5>
              <% end %>
              <hr style="margin: 8px 0;"/>
              <% if experiment.experiment_visuals.count > 0 %>
                <ul class="list">
                  <h6 class="title">Visual Fidelity</h6>
                  <% for component_through in experiment.experiment_visuals %>
                    <li><a href="#"><%= component_through.visual_fidelity.component.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if experiment.experiment_aurals.count > 0 %>
                <ul class="list">
                  <h6 class="title">Auditory Fidelity</h6>
                  <% for component_through in experiment.experiment_aurals %>
                    <li><a href="#"><%= component_through.aural_fidelity.component.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if experiment.experiment_haptics.count > 0 %>
                <ul class="list">
                  <h6 class="title">Haptic Fidelity</h6>
                  <% for component_through in experiment.experiment_haptics %>
                    <li><a href="#"><%= component_through.haptic_fidelity.component.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if experiment.experiment_biomechanicals.count > 0 %>
                <ul class="list">
                  <h6 class="title">Biomechanical Symmetry</h6>
                  <% for component_through in experiment.experiment_biomechanicals %>
                    <li><a href="#"><%= component_through.biomechanical_symmetry.component.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if experiment.experiment_controls.count > 0 %>
                <ul class="list">
                  <h6 class="title">Control Symmetry</h6>
                  <% for component_through in experiment.experiment_controls %>
                    <li><a href="#"><%= component_through.control_symmetry.component.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                <% end %>
              </ul>
              <% if experiment.experiment_system_apps.count > 0 %>
                <ul class="list">
                  <h6 class="title">System Appropriateness</h6>
                  <% for component_through in experiment.experiment_system_apps %>
                    <li><a href="#"><%= component_through.system_appropriateness.component.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>

            <div>
              <% if experiment.experiment_indy_variables.count > 0 %>
                <h6 class="title">Independent Variables</h6>
                <ul class="list">
                  <% for component_through in experiment.experiment_indy_variables %>
                    <li><a href="#"><%= component_through.indy_variable.variable.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>

            <% if experiment.constants && experiment.constants != "" %>
              <div class="title">
                <h6>Constants</h6>
              </div>
              <p><%= experiment.constants %></p>
            <% end %>

            <h5 class="title">System Info</h5>
            <hr style="margin: 8px 0;"/>
            <div>
              <h6 class="title">Displays</h6>
              <% if experiment.experiment_displays.count > 0 %>
                <ul class="list">
                  <% for component_through in experiment.experiment_displays %>
                    <li><a href="#"><%= component_through.display.display.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% else %>
                None
              <% end %>
            </div>

            <div>
              <h6 class="title">Input Hardware</h6>
              <% if experiment.experiment_hardwares.count > 0 %>
                <ul class="list">
                  <% for component_through in experiment.experiment_hardwares %>
                    <li><a href="#"><%= component_through.hardware.hardware.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% else %>
                None
              <% end %>
            </div>

            <div>
              <h6 class="title">Software</h6>
              <% if experiment.experiment_softwares.count > 0 %>
                <ul class="list">
                  <% for component_through in experiment.experiment_softwares %>
                    <li><a href="#"><%= component_through.software.software.downcase %></a> - <%= component_through.desc.downcase %></li>
                  <% end %>
                </ul>
              <% else %>
                None
              <% end %>
            </div>

            <p><%= experiment.system_desc %></p>

            <h5 class="title">Participant Info</h5>
            <hr style="margin: 8px 0;"/>
            
            <p><%= experiment.part_background %></p>
            
            <table class="table part-table">
              <thead>
                <tr>
                  <th>Total #</th>
                  <th>Age Range</th>
                  <th>Gender Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= experiment.part_num %></td>
                  <td><%= experiment.part_age_min %> - <%= experiment.part_age_max %></td>
                  <td><% if false %><%= experiment.gender.gender %><% end %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="span8">
            <% for task in experiment.tasks %>
              <div class="row-fluid task">
                <div class="task-desc span6">
                  <p><%= task.task_desc %></p>
                  <ul class="task-categories">
                    <% for category in task.categories %>
                      <li class="category"><h6><a href="#"><%= category.task_category %></a></h6></li>
                    <% end %>
                  </ul>


                  <% if task.interface_desc && task.interface_desc != "" %>
                    <h5 class="title">Interaction and Environment</h5>
                    <hr style="margin: 8px 0;"/>
                    <div class="title">
                      <h6>Interface</h6>
                    </div>
                    <p><%= task.interface_desc %></p>
                  <% else %>
                    <h5 class="title">Environment</h5>
                    <hr style="margin: 8px 0;"/>  
                  <% end %>
                  
                  <p><%= task.env_desc %></p>
                  
                  <table class="table env-table">
                    <thead>
                      <tr>
                        <th>Dimensionality</th>
                        <th>Scale</th>
                        <th>Density</th>
                        <th>Visual Realism</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= task.dimension.level %></td>
                        <td><%= task.scale.level %></td>
                        <td><%= task.density.level %></td>
                        <td><%= task.realism.level %></td>
                      </tr>
                    </tbody>
                  </table>

                  <h5 class="title">Metrics</h5>
                  <hr style="margin: 8px 0;"/>  
                  <div>
                    <ul style="list-style: none; margin-left: 0px;">
                      <% for component_through in task.task_metrics %>
                        <li><a href="#"><%= component_through.metric.metric.downcase %></a> - <%= component_through.desc.downcase %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                
                <div class="span6">
                  <ol>
                    <% for finding in task.findings %>
                      <li class="finding">
                        <% p = finding.summary %>
                       <!--  <% if false %>
                        <% for component in finding.components %>
                          <% p = p.gsub(/#{Regexp.new(Regexp.escape(component.comp_of_immersion), Regexp::IGNORECASE)}/, link_to(component.comp_of_immersion,component)) %>
                        <% end %> 
                        <% p = p.gsub(/#{Regexp.new(Regexp.escape(Metric.find_by_id(finding.metric_id).metric), Regexp::IGNORECASE)}/, link_to(Metric.find_by_id(finding.metric_id).metric.downcase,Metric.find_by_id(finding.metric_id))) %>
                        <% p = p.gsub(/#{Regexp.new(Regexp.escape(Category.find_by_id(finding.category_id).task_category), Regexp::IGNORECASE)}/,link_to(Category.find_by_id(finding.category_id).task_category.downcase,Category.find_by_id(finding.category_id))) %>
                        <% end %> -->
                        
                        <h5><%= p.html_safe %></h5>

                        <p><%= finding.finding_note %></p>

                        <% if finding.specificity_id || finding.issue != "" %>
                          <p class="divider">
                        <% else %>
                          <p>
                        <% end%>
                          <% if finding.specificity_id %>
                            <small>Specificity: <%= finding.specificity.level %></small>
                          <% end %>
                          <% if finding.issue != "" %>
                            <br><%= finding.issue %>
                          <% end %>
                        </p>
                      </li>
                    <% end %>
                  </ol>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>
 <!-- <%= link_to 'Back', papers_path %> -->

