<div class="row-fluid">
  <div class="paper-show span12">

    <div class="row-fluid">
      <div class="span1"></div>
      <div class= "paper-details span10 well">
        <h1><%= @paper.title %></h1>
        <blockquote>
          <ul class="authors">
            <% for author in @paper.authors %>
              <li class="author"><a href="#"><%= author.first_name %> 
                <% if author.middle_initial != "" %>
                  <%= author.middle_initial + '.' %>
                <% end %>
                <%= author.last_name %></a></li>
            <% end %>
          </ul>
          <%= @paper.venues.first.name %> (<%= @paper.year.year %>), 
          <% if @paper.start_page && @paper.start_page != "" && @paper.end_page && @paper.start_page != "" %>
            pp. <%= @paper.start_page %>-<%= @paper.end_page %>, 
          <% end %>
          <% if @paper.doi != "" && @paper.doi %>
            doi: <a href="<%= @paper.paper_url %>"><%= @paper.doi %></a>
          <% end %>
        </blockquote>
        <div class="paper-modify">
          <%= link_to 'edit', edit_paper_path(@paper), :class => "edit-paper" %> |
          <%= link_to 'delete', @paper, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </div>
      </div>
    </div>

    <div class="row-fluid headings">
      <div class="span4"><legend>Findings</legend></div>
      <div class="span4"><legend>Tasks</legend></div>
      <div class="span4"><legend>Experiments</legend></div>
    </div>

    <% for experiment in @paper.experiments %>
      <div class="row-fluid">
        
          <div class="span8">
            <% for task in experiment.tasks %>
              <div class="row-fluid task">
                <div class="span6">
                  <ol>
                    <% for finding in task.findings %>
                      <li class="finding">
                        <% p = finding.summary %>
                       <!--  <% if false %>
                        <% for component in finding.components %>
                          <% p = p.gsub(/#{Regexp.new(Regexp.escape(component.comp_of_immersion), Regexp::IGNORECASE)}/, link_to(component.comp_of_immersion,component)) %>
                        <% end %> 
                        <% end %> -->
                        <% p = p.gsub(/#{Regexp.new(Regexp.escape(Metric.find_by_id(finding.metric_id).metric), Regexp::IGNORECASE)}/, link_to(Metric.find_by_id(finding.metric_id).metric.downcase,Metric.find_by_id(finding.metric_id))) %>
                        <% if false %>
                        <% p = p.gsub(/#{Regexp.new(Regexp.escape(Category.find_by_id(finding.category_id).task_category), Regexp::IGNORECASE)}/,link_to(Category.find_by_id(finding.category_id).task_category.downcase,Category.find_by_id(finding.category_id))) %><% end %>
                        
                        <h5><%= p.html_safe %></h5>

                        <% if finding.specificity_id || finding.issue != "" %>
                          <p class="divider">
                        <% else %>
                          <p>
                        <% end%>
                          <% if finding.specificity_id %>
                            <small>Specificity: <%= finding.specificity.level %></small>
                          <% end %>
                          <% if finding.issue != "" %>
                            <br><%= finding.issue %>
                          <% end %>
                        </p>
                      </li>
                    <% end %>
                  </ol>
                </div>

                <div class="task-desc span6">
                  <ul class="task-categories">
                    <% for category in task.categories %>
                      <li class="category"><h6><a href="#"><%= category.task_category %></a></h6></li>
                    <% end %>
                  </ul>
                  <p><%= task.task_desc %></p>

                  <div class="title">
                    <h6>Interface</h6>
                  </div>
                  <p><%= task.interface_desc %></p>

                  <div class="title">
                    <h6>Environment</h6>
                  </div>
                  <p><%= task.env_desc %></p>
                  <table class="table env-table">
                    <thead>
                      <tr>
                        <th>Dimensionality</th>
                        <th>Scale</th>
                        <th>Density</th>
                        <th>Visual Realism</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= task.dimension.level %></td>
                        <td><%= task.scale.level %></td>
                        <td><%= task.density.level %></td>
                        <td><%= task.realism.level %></td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="title">
                    <h6 class="inline">Metrics - </h6>
                    <ul class="task-metrics inline">
                      <% for metric in task.metrics %>
                        <li class="metric"><a href="#"><%= metric.metric.downcase %></a></li>
                      <% end %>
                    </ul>
                  </div>

                </div>
              </div>
            <% end %>
          </div>

          <div class="exp-desc span4">
            <p><%= experiment.exp_desc %></p>

            <div class="title well">
              <h6 class="inline">Components of fidelity & desc - </h6>
              <ul class="list inline">
                <% if experiment.visual_fidelities.count > 0 %>
                  <% for component in experiment.visual_fidelities %>
                    <li class="object"><a href="#"><%= component.component.downcase %></a></li>
                  <% end %>
                <% end %>

                <% if experiment.aural_fidelities.count > 0 %>
                  <% for component in experiment.aural_fidelities %>
                    <li class="object"><a href="#"><%= component.component.downcase %></a></li>
                  <% end %>
                <% end %>

                <% if experiment.haptic_fidelities.count > 0 %>
                  <% for component in experiment.haptic_fidelities %>
                    <li class="object"><a href="#"><%= component.component.downcase %></a></li>
                  <% end %>
                <% end %>

                <% if experiment.biomechanical_symmetries.count > 0 %>
                  <% for component in experiment.biomechanical_symmetries %>
                    <li class="object"><a href="#"><%= component.component.downcase %></a></li>
                  <% end %>
                <% end %>

                <% if experiment.control_symmetries.count > 0 %>
                  <% for component in experiment.control_symmetries %>
                    <li class="object"><a href="#"><%= component.component.downcase %></a></li>
                  <% end %>
                <% end %>

                <% if experiment.system_appropriatenesses.count > 0 %>
                  <% for component in experiment.system_appropriatenesses %>
                    <li class="object"><a href="#"><%= component.component.downcase %></a></li>
                  <% end %>
                <% end %>
              </ul>
            </div>

            <p><%= experiment.comp_desc %></p>

            <div class="title">
              <h6>System Info</h6>
            </div>

            <div class="title">
              <h6 class="inline">Displays - </h6>
              <ul class="list inline">
                <% for display in experiment.displays %>
                  <li class="object"><a href="#"><%= display.display.downcase %></a></li>
                <% end %>
              </ul>
            </div>
            <p><%= experiment.display_desc %></p>

            <div class="title">
              <h6 class="inline">Hardware - </h6>
              <ul class="list inline">
                <% if experiment.hardwares.count > 0 %>
                  <% for hardware in experiment.hardwares %>
                    <li class="object"><a href="#"><%= hardware.hardware.downcase %></a></li>
                  <% end %>
                <% else %>
                  not reported
                <% end %>
              </ul>
            </div>
            <div class="title">
              <h6 class="inline">Software - </h6>
              <ul class="list inline">
                <% if experiment.softwares.count > 0 %>
                  <% for software in experiment.softwares %>
                    <li class="object"><a href="#"><%= software.software.downcase %></a></li>
                  <% end %>
                <% else %>
                  not reported
                <% end %>
              </ul>
            </div>
            <p><%= experiment.system_desc %></p>

            <div class="title">
              <h6>Other Variables</h6>
            </div>
            <p><%= experiment.other_vars %></p>

            <div class="title">
              <h6>Constants</h6>
            </div>
            <p><%= experiment.constants %></p>

            <div class="title">
              <h6>Participant Info</h6>
            </div>
            <p><%= experiment.part_background %></p>
            <table class="table part-table">
              <thead>
                <tr>
                  <th>Total #</th>
                  <th>Age Range</th>
                  <th>Gender Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= experiment.part_num %></td>
                  <td><%= experiment.part_age_min %> - <%= experiment.part_age_max %></td>
                  <td><% if false %><%= experiment.gender.gender %><% end %></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>
 <!-- <%= link_to 'Back', papers_path %> -->

