<div class="well filter-options">
  <legend class="with-helper-text">Filter Options</legend>
  <!-- <small><p class="after-legend">This will be an area for filters.</p></small> -->
  <div class="accordion">
    <form id="filterForm" onsubmit="if(!combine_filter_search('filterForm', 'searchForm')) { return false; }">
      <% @filter_lists.each do |filter_list| %>
        <% if filter_list.count > 1 %>
          <div class="accordion-group accordion-caret">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "#collapse"+filter_list[0].gsub(/\s+/, "")%>> <%= filter_list[0] %> <span class="badge badge-info badge-right">0</span></a>
            </div>
            <div id=<%= "collapse"+filter_list[0].gsub(/\s+/, "")%> class="accordion-body collapse in">
              <div class="accordion-inner">
                <% filter_list.each_with_index do |filter_category, index| %>
                  <% if index > 0 %>
                    <%= render "filter_category", :filter_name => filter_category[0], :filter_category => filter_category[1] %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <% filter_list.each do |filter_category| %>
            <%= render "filter_category", :filter_name => filter_category[0], :filter_category => filter_category[1] %>
          <% end %>
        <% end %>
      <% end %>
    </form>
  </div>
</div>
<div class="span12 well filter-control">
  <div class="span6"> 
    <button class="btn inline" style="display: block; width: 100%;" onclick="apply_filters();">Apply Filters</button>
  </div>
  <div class="span6"> 
    <button class="btn inline" style="display: block; width: 100%;" onclick="clear_filters(); apply_filters();">Clear Filters</button>
  </div>
</div>