<h1>Listing experiment_displays</h1>

<table>
  <tr>
    <th>Display</th>
    <th>Experiment</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiment_displays.each do |experiment_display| %>
  <tr>
    <td><%= experiment_display.display.display %></td>
    <td><%= experiment_display.experiment.id %></td>
    <td><%= experiment_display.desc %></td>
    <td><%= link_to 'Show', experiment_display %></td>
    <td><%= link_to 'Edit', edit_experiment_display_path(experiment_display) %></td>
    <td><%= link_to 'Destroy', experiment_display, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experiment display', new_experiment_display_path %>
