<h1>Listing user_papers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Paper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_papers.each do |user_paper| %>
  <tr>
    <td><%= user_paper.user %></td>
    <td><%= user_paper.paper %></td>
    <td><%= link_to 'Show', user_paper %></td>
    <td><%= link_to 'Edit', edit_user_paper_path(user_paper) %></td>
    <td><%= link_to 'Destroy', user_paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User paper', new_user_paper_path %>
