<h1>Listing task_scales</h1>

<table>
  <tr>
    <th>Scale</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_scales.each do |task_scale| %>
  <tr>
    <td><%= task_scale.scale %></td>
    <td><%= task_scale.task %></td>
    <td><%= link_to 'Show', task_scale %></td>
    <td><%= link_to 'Edit', edit_task_scale_path(task_scale) %></td>
    <td><%= link_to 'Destroy', task_scale, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task scale', new_task_scale_path %>
