<p id="notice"><%= notice %></p>

<p>
  <b>Hardware:</b>
  <%= @hardware.hardware %>
</p>

<p>
  <b>String:</b>
  <%= @hardware.string %>
</p>


<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>
