<h1>Listing experiment_softwares</h1>

<table>
  <tr>
    <th>Software</th>
    <th>Experiment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiment_softwares.each do |experiment_software| %>
  <tr>
    <td><%= experiment_software.software %></td>
    <td><%= experiment_software.experiment %></td>
    <td><%= link_to 'Show', experiment_software %></td>
    <td><%= link_to 'Edit', edit_experiment_software_path(experiment_software) %></td>
    <td><%= link_to 'Destroy', experiment_software, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experiment software', new_experiment_software_path %>
