<%= form_for(@user_author) do |f| %>
  <% if @user_author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_author.errors.count, "error") %> prohibited this user_author from being saved:</h2>

      <ul>
      <% @user_author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
