<h1>Listing finding_categories</h1>

<table>
  <tr>
    <th>Finding</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finding_categories.each do |finding_category| %>
  <tr>
    <td><%= finding_category.finding %></td>
    <td><%= finding_category.category %></td>
    <td><%= link_to 'Show', finding_category %></td>
    <td><%= link_to 'Edit', edit_finding_category_path(finding_category) %></td>
    <td><%= link_to 'Destroy', finding_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finding category', new_finding_category_path %>
